@mixin padding-15 {
  padding: 15px 15px;
}

/* ШАПКА */
.header {
  @include padding-15;
}
/* КОНЕЦ ШАПКА */

/* ТЕЛО */
.body {
  @include padding-15;
  position: relative;
}

.gallery {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 50px;
  border: 1px solid rgb(255 255 255 / 10%);
  border-radius: 6px;

  .gallery__title {
    font-size: 28px;
    margin-bottom: 24px;
  }
}

.preview {
  background: #fff;
  padding: 10px;
  color: #000;
  min-height: 200px;
}
