<section class="wrapper">
  <header class="header">
    <h1 routerLink='/'>Dream App</h1>
  </header>

  <main class="body">
    <article class="gallery">
      <h2 class="gallery__title">Динамические поля формы</h2>

      <div class="my-form">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div>
            <p>
              <label for="example">Name</label>
              <input type="text" id="example" name="name" formControlName="name" />
            </p>
          </div>
          <div>
            Skills:
            <div formArrayName="skills">
              <div *ngFor="let skill of skills.controls; let i=index">
                <div [formGroupName]="i">
                  <hr />
                  <p>
                    {{i}}. skill name:
                    <input type="text" formControlName="skill" />
                  </p>
                  <p>
                    exp:
                    <input type="text" formControlName="exp" />
                  </p>
                  <p>
                    <button (click)="removeSkill(i)">Delete</button>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <p>
              <button type="submit">Submit</button>
            </p>
          </div>
        </form>

        <div>
          <button type="button" (click)="addSkill()">Add new</button>
        </div>

        <div style="background: #fff; padding: 10px; color: #000; min-height: 200px;">
          <pre><code>{{ this.myForm.value | json }}</code></pre>
        </div>
      </div>
    </article>
  </main>
</section>
