@mixin padding-15 {
  padding: 15px 15px;
}

/* ШАПКА */
.header {
  @include padding-15;
}
/* КОНЕЦ ШАПКА */

/* ТЕЛО */
.body {
  @include padding-15;
  position: relative;
}

/* Галлерея */
.gallery {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 50px;
  border: 1px solid rgb(255 255 255 / 10%);
  border-radius: 6px;

  .gallery__title {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .gallery__body {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fill,  minmax(80px, 1fr));
    grid-template-rows: 150px;
    grid-auto-rows: 150px;
    grid-gap: 1vw;
    grid-auto-flow: dense;
    justify-content: stretch;
    align-items: stretch;

    .gallery__item {
      position: relative;
      cursor: pointer;
      width: inherit;
      height: inherit;
      overflow: hidden;
      border-radius: 6px;

      .gallery__image {
        max-width: 100%;
        width: 100%;
        height: 100%;
        max-height: 150px;
        object-fit: cover;
        transition: transform .6s ease;
        border-radius: 6px;
      }

      .gallery__item__actions {
        position: absolute;
        top: 0px;
        right: 5px;
        display: none;
      }

      .gallery__item__actions__menu_icon {
        display: block;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url(/assets/images/icons/icon-menu.svg);
      }

      .gallery__item__actions__menu_delete {
        position: absolute;
        top: 20px;
        right: 0;
      }

      &:hover {
        .gallery__item__actions {
          display: block;
        }

        .gallery__image {
          filter: opacity(50%);
        }
      }
    }

    .gallery__item--horizontal,
    .gallery__item--kvadrat {
      grid-column: auto / span 2;
    }

    .gallery__item--horizontal-lg {
      grid-column: auto / span 3;
    }
  }

  .gallery__footer {
    padding: 15px 0;

    .gallery__annotation {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .gallery__dropzone {
    min-height: 100px;
    width: 100%;
    border: 1px dashed rgb(255 255 255 / 10%);
    background-color: rgb(255 255 255 / 2%);
    margin-bottom: 20px;
  }

  .gallery__dropzone__text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    min-height: inherit;
  }

  .gallery__dropzone_icon {
    margin-right: 15px;
    display: block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(/assets/images/icons/icon-picture.svg);
  }
}

@media (max-width: 560px) {
  .gallery {
    .gallery__body {
      grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));

      .gallery__item--horizontal,
      .gallery__item--horizontal-lg,
      .gallery__item--vertical,
      .gallery__item--kvadrat {
        grid-column: span 2;
      }

    }

  }
}
/* Конец Галлерея */
/* КОНЕЦ ТЕЛА */

/* ПОДВАЛ */
.footer {
  @include padding-15;
}
/* КОНЕЦ ПОДВАЛ */

