<section class="wrapper">
  <header class="header">
    <h1>Dream App</h1>
  </header>

  <main class="body">
    <article class="gallery">
      <h2 class="gallery__title">Галлерея</h2>

      <div class="gallery__body grid">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
        <div>9</div>
      </div>

      <div class="gallery__task_company">
        Задание от компании
      </div>
    </article>
  </main>

  <footer>

  </footer>
</section>
