@mixin padding-15 {
  padding: 15px 15px;
}

/* ШАПКА */
.header {
  @include padding-15;
}


.logo {
  cursor: pointer;
}

/* КОНЕЦ ШАПКА */

/* ТЕЛО */
.body {
  @include padding-15;
  position: relative;
}


/* ПОДВАЛ */
.footer {
  @include padding-15;
}
/* КОНЕЦ ПОДВАЛ */

a {
  color: #ffffff;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  li {
    box-sizing: border-box;
    padding: 2px 5px;
    margin-left: 15px;

    &:first-of-type {
      margin-left: 0;
    }
  }
}
