@mixin padding-15 {
  padding: 15px 15px;
}

/* ШАПКА */
.header {
  @include padding-15;
}
/* КОНЕЦ ШАПКА */

/* ТЕЛО */
.body {
  @include padding-15;
  position: relative;
}


/* ПОДВАЛ */
.footer {
  @include padding-15;
}
/* КОНЕЦ ПОДВАЛ */

a {
  color: #ffffff;
}
