<article class="gallery">
  <h2 class="gallery__title">Табы</h2>
  <div class="w-full">
    <app-tabs [selectedTab]="tabService.$activeTab.getValue() || 'tab0'">
      <app-tab [tabTitle]="'Название 1'" [tabName]="'tab0'">
        <p>
          <button mat-stroked-button (click)="activeTab('tab1')">Open tab 2</button>
        </p>

        <p>
          Tab 1 content
        </p>
      </app-tab>
      <app-tab [tabTitle]="'Название 2'" [tabName]="'tab1'">
        <p>
          Tab 2 content
        </p>
      </app-tab>
    </app-tabs>
  </div>
</article>
