<div class="btns">
  <button class="btn"
          (click)="increment()">
    +1
  </button>

  <button class="btn"
          (click)="decrement()"
          [disabled]="cannotDecrement$ | async">
    -1
  </button>

  <button class="btn"
          (click)="resetCounter()"
          [disabled]="cannotDecrement$ | async">
    =0
  </button>
</div>

<div class="counter">
  Счетчик: {{count$ | async}}
</div>

<div class="update-at"
     *ngIf="this.updateAt">
  {{this.updateAt | date: 'HH:mm:ss - dd.mm.yyyy'}}
</div>
