<article class="gallery">
  <h2 class="gallery__title">NgRx Counter</h2>
  <div class="flex mb-10">
    <button mat-flat-button color="primary" class="mr-4"
            (click)="increment()">
      +1
    </button>

    <button mat-flat-button color="primary" class="mr-4"
            (click)="decrement()"
            [disabled]="cannotDecrement$ | async">
      -1
    </button>

    <button mat-flat-button color="primary"
            (click)="resetCounter()"
            [disabled]="cannotDecrement$ | async">
      =0
    </button>
  </div>

  <div class="counter">
    Счетчик: {{count$ | async}}
  </div>

  <div class="update-at"
       *ngIf="updatedAt$ | async">
    {{updatedAt$ | async | date: 'HH:mm:ss - dd.mm.yyyy'}}
  </div>
</article>
